@import "scss/constants.scss";

.navbar-margin {
  height: 100%;
}

.AnimateMap {
  display: block;
  height: 100%;

  overflow-x: hidden;

  canvas {
    display: block;
  }
}

body {
  @include scrollbar;

  &.no-scroll {
    overflow: hidden;
  }

  // @debt refactor this to get rid of !important
  &.modal-open {
    padding: 0 0 0 0 !important;
    overflow-y: scroll !important;
  }
}
